
.btn{
    background-color: greenyellow;
    border: none;
    padding: 15px;
    width: max-content;
    border-radius: 10px;
    color: white;
    animation: btnAnimations 5s linear infinite alternate;

}
.btn:hover{
    background-color: aqua;
    color: black;
}

@keyframes btnAnimations {
    0%{
        transform: translatey(20px);
    }
    50%{
        transform: translatex(10px);
    }
    100%{
        transform: translatey(-20px);
    }
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#form >div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

